* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: grey;
    /* background-image:
  linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%
    ); */
}

/*-----background-----*/

#bcgTop {
    width: 100%;
    height: 130px;
    background-color: #009688;
}

#bcgBottom {
    width: 100%;
    height: calc(100vh - 130px);
    background-color: #e0e0e0;
}

/*-----container-----*/

.container {
    width: 1400px;
    height: 680px;
    background-color: #f7f7f7;
    position: absolute;
    bottom: calc((100% - 680px) / 2);
    right: calc((100% - 1400px) / 2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
}

input {
    width: 90%;
    border-radius: 25px;
    border: none;
    padding: 10px;
    color: grey;
}

/*-----elementi comuni header-----*/

.header {
   align-items: flex-start;
   width: 100%;;
   height: 60px;
   padding: 10px 15px;
   background-color: #ededed;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.photo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icons a {
    font-size: 20px;
    padding: 10px;
    color: #818080;
    margin-right: 10px;
}

/*-----aside-----*/

#aside {
    width: 30%;
    height: 100%;
    background-color: #fff;
    float: left;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgrey;
}

#searchBar {
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar i {
    cursor: pointer;
}

#searchBar input {
    padding-left: 60px;
}

.fas.fa-search.iconSearch {
    font-size: 16px;
    color: #818080;
    position: relative;
    left: 30px;
}

.contactList {
    display: flex;
    flex-direction: column;
    height: calc(100% - 110px);
    overflow-y: scroll;
}

.contactPreview {
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
    position: relative;
}

.contactPreview:hover {
    background-color: #ddd;
    cursor: pointer;
}

.contactPreview img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 15px;
}

.messagePreview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid lightgrey; */
    width: 100%;
    margin-right: 10px;
}

.sendingTime {
    margin-right: 15px;
    font-size: 13px;
}

.messagePreview::after {
    content: '';
    width: 315px;
    height: 1px;
    background-color: lightgrey;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

/*-----messageContainer-----*/

#messageContainer {
    width: 70%;
    height: 100%;
    float: left;
}

.senderInfo  {
    display: flex;
    align-items: center;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
}

.otherInfo {
    font-size: 13px;
}

.viewMessage {
    width: 100%;
    height: calc(100% - 132px);
    padding: 0 50px;
    overflow-y: scroll;
    background-image: url(img/mine.jpg);
}

.message {
    width: max-content;
    padding: 22px;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
}

.message small {
    position: relative;
    top: 15px;
    left: 15px;
}

.received {
    background-color: #fff;
    float: left;
    clear: both;
}

.sent {
    opacity: 1;
    background-color: #bef896;
    float: right;
    clear: both;
}

.sendBar {
    width: 100%;
    height: 72px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
}
.sendBar i {
    font-size: 25px;
    padding: 10px;
    color: #818080;
    cursor: pointer;
}

.chat {
    display: none;
}

.chat.active {
    display: block;
}

/*-----template-----*/

.template {
    display: none;
}

.message i {
    float: right;
    margin-left: 10px;
}

/*----message optionals-----*/
.message-options-panel {
    width: 150px;
	height: 80px;
    padding: 10px;
	background: white;
	box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.75);
    position: absolute;

}

.message.sent .message-options-panel{
    top: 50px;
    right: 30px;
}

.message.received .message-options-panel{
    top: 46px;
    left: 57px;
}

.message-options-panel > div {
    width: 100%;
    height: 50%;
    line-height: 40px;
    font-size: 13px;
}

.message-options-panel > div:hover {
	color: #B6B9BB;
}
