* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: grey;
}

/*-----background-----*/

#bcgTop {
    width: 100%;
    height: 130px;
    background-color: #009688;
}

#bcgBottom {
    width: 100%;
    height: calc(100vh - 130px);
    background-color: #e0e0e0;
}

/*-----container-----*/

.container {
    width: 1400px;
    height: 680px;
    background-color: #f7f7f7;
    position: absolute;
    bottom: calc((100% - 680px) / 2);
    right: calc((100% - 1400px) / 2);
}

/*-----elementi comuni header-----*/

.header {
   align-items: flex-start;
   width: 100%;;
   height: 60px;
   padding: 10px 15px;
   background-color: #ededed;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.photo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icons a {
    font-size: 20px;
    padding: 10px;
    color: #818080;
    margin-right: 10px;
}

/*-----aside-----*/

#aside {
    width: 30%;
    height: 100%;
    background-color: #fff;
    float: left;
    display: flex;
    flex-direction: column;
}

#aside .header {
    border-right: 1px solid lightgrey;
}

#searchBar {
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar input {
    width: 90%;
    border-radius: 25px;
    border: none;
    padding: 10px;
    padding-left: 60px;
    color: grey;
}

.fas.fa-search.iconSearch {
    font-size: 16px;
    color: #818080;
    position: relative;
    left: 30px;
}

.contactList {
    display: flex;
    flex-direction: column;
}

.contactPreview {
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
}

.contactPreview img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 15px;
}

.messagePreview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin-right: 10px;
}

.sendingTime {
    margin-right: 15px;
    font-size: 13px;
}

/* .sendingTime::after {
    content: '';
    width: 300px;
    height: 1px;
    background-color: lightgrey;
    display: inline-block;
    position: absolute;
} */

/*-----messageContainer-----*/

#messageContainer {
    width: 70%;
    height: 100%;
    background-color: pink;
    float: left;
}

.senderInfo  {
    display: flex;
    align-items: center;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
}

.otherInfo {
    font-size: 13px;
}
